In [ ]:
import pandas as pd
import numpy as np
import datetime
from datetime import date, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
idx=pd.IndexSlice
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
plt.style.use('ggplot')

In [ ]:
data = pd.read_csv('ds_salaries.csv')

data.head()

In [ ]:
data.info()

In [ ]:
data.shape

In [ ]:
data.isna().sum()

In [ ]:
data.duplicated().sum()

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data.reset_index(drop=True, inplace=True)

In [ ]:
#Most updated currency concersion

In [ ]:
data.salary_currency.unique()

In [ ]:
# data['salary_in_usd'] = data['salary']

# data.loc[data['salary_currency'] == 'EUR', 'salary_in_usd'] = data.loc[data['salary_currency'] == 'EUR', 'salary'] * 1.12

In [ ]:
data['salary_in_usd'] = data['salary']

exchange_rates = {
    'EUR': 1.12,
    'INR': 0.012,
    'HKD': 0.13,
    'CHF': 1.16,
    'GBP': 1.29,
    'AUD': 0.68,
    'SGD': 0.75,
    'CAD': 0.76,
    'ILS': 0.28,
    'BRL': 0.21,
    'THB': 0.029,
    'PLN': 0.25,
    'HUF': 0.0029,
    'CZK': 0.046,
    'DKK': 0.15,
    'JPY': 0.0071,
    'MXN': 0.059,
    'TRY': 0.037,
    'TRY': 0.0012
}

for currency, exchange_rate in exchange_rates.items():
    data.loc[data['salary_currency']==currency, 'salary_in_usd'] = data['salary']*exchange_rate

In [ ]:
data.head()

In [ ]:
#Descriptive analysis in data with visualization

In [ ]:
for x in data.columns:
    if data[x].dtype == 'O' or x == 'work_year':
        print('')
        print(data[x].value_counts())
        print('---------------')

In [ ]:
for x in data.columns:
    if data[x].dtype == 'O' or x == 'work_year':
        df = data[x].value_counts().reset_index()
        
        fig, ax = plt.subplots()

        ax.pie(
            x=df[x],
            startangle=90,
            labels=df['index'],
            autopct="%.0f%%",
            shadow=True,
#             explode=[0.08, 0, 0, 0, 0]
                    )
        
        if len(df['index']) < 5:
            plt.legend(df['index'])
        else:
            None
            
        plt.title(f'{x} in Data Distribution/Percentage', fontsize=12);
        plt.show()

In [ ]:
# Categorize data

In [ ]:
#Job Title

In [ ]:
#Top 20 Jobs of Most Appearences in Data
df = data['job_title'].value_counts()[:20].reset_index()
plt.figure(figsize=(16,8))
sns.barplot(data=df, y='index', x='job_title')
plt.title('Top 20 Jobs with Most Appearences in Data');

In [ ]:
#Top 20 Jobs with Highest Avg salary_in_usd in Data

In [ ]:
df = data.groupby('job_title')['salary_in_usd'].mean().sort_values(ascending=False)[:20].reset_index()
plt.figure(figsize=(16,8))
sns.barplot(data=df, x='salary_in_usd', y='job_title')
plt.title('Top 20 Jobs with Highest Avg salary_in_usd in Data')
plt.axvline(data['salary_in_usd'].mean(), ls='--', color='black', alpha=0.3)
plt.legend(['Avg salary_in_usd']);

In [ ]:
data_scientist_titles = ['Data Scientist','Data Analyst','Data Modeler','Data Strategist',\
                         'Data Quality Analyst','Compliance Data Analyst','Data Architect',\
                         'Business Data Analyst','Applied Data Scientist','Staff Data Analyst',\
                         'Data Specialist','Financial Data Analyst','BI Developer','BI Analyst',\
                         'Data Science Consultant','Data Analytics Specialist','BI Data Analyst',\
                         'Insight Analyst','Big Data Architect' ,'Product Data Analyst',\
                         'Data Analytics Consultant','Data Management Specialist','Data Operations Analyst',\
                         'Marketing Data Analyst','Power BI Developer','Product Data Scientist',\
                         'Cloud Data Architect','Staff Data Scientist','Finance Data Analyst']
engineer_titles = ['ML Engineer','Research Engineer','Analytics Engineer','Business Intelligence Engineer',\
                   'Machine Learning Engineer','Data Engineer','Computer Vision Engineer',\
                   'Applied Machine Learning Engineer','ETL Engineer','Data DevOps Engineer',\
                   'Big Data Engineer','BI Data Engineer','MLOps Engineer','Autonomous Vehicle Technician',\
                   'Cloud Database Engineer','Data Infrastructure Engineer','Software Data Engineer',\
                   'Data Operations Engineer','Machine Learning Infrastructure Engineer','Deep Learning Engineer',\
                   'Machine Learning Software Engineer','Computer Vision Software Engineer','Azure Data Engineer',\
                   'Marketing Data Engineer','Data Science Engineer','Machine Learning Research Engineer',\
                   'NLP Engineer','Data Analytics Engineer','Cloud Data Engineer','ETL Developer']
researcher_titles = ['Applied Scientist','Research Scientist','Machine Learning Researcher',\
                  'Machine Learning Scientist','Applied Machine Learning Scientist','Deep Learning Researcher',\
                  'Machine Learning Developer','3D Computer Vision Researcher']
manager_titles = ['Principal Data Scientist','Data Analytics Manager','Head of Data','Data Science Manager',\
                  'Data Manager','Lead Data Analyst','Director of Data Science','Lead Data Scientist',\
                  'Data Science Lead','Head of Data Science','Data Analytics Lead','Data Lead',\
                  'Manager Data Management','Principal Machine Learning Engineer','Data Science Tech Lead',\
                  'Data Scientist Lead','Principal Data Architect','Machine Learning Manager',\
                  'Lead Machine Learning Engineer','Lead Data Engineer','Head of Machine Learning',\
                  'Principal Data Analyst','Principal Data Engineer']
AI_titles = ['AI Developer','AI Scientist','AI Programmer']

In [ ]:
def categorize(data, feature):
    blanks = []
    for x in data[feature]:
        if x in data_scientist_titles:
            blanks.append('data scientist')
        elif x in engineer_titles:
            blanks.append('engineer')
        elif x in researcher_titles:
            blanks.append('researcher')
        elif x in manager_titles:
            blanks.append('manager')
        else:
            blanks.append('AI developer')
            
    return blanks

In [ ]:
data['job_category'] = categorize(data, 'job_title')

In [ ]:
data.experience_level.unique()

In [ ]:
data['experience_level'] = data['experience_level'].replace({
    'SE':'Senior',
    'MI':'Mid/Intermediate level',
    'EN':'Entry Level',
    'EX': 'Executive Level'
})

In [ ]:
data.employment_type.unique()

In [ ]:
data['employment_type'] = data['employment_type'].replace({
    'FT':'Full-Time',
    'CT':'Contractor',
    'FL':'Freelancer',
    'PT':'Part_Time'
})

In [ ]:
data.remote_ratio.unique()

In [ ]:
data['remote_ratio'] = data['remote_ratio'].replace({
    100:'Fully-Remote',
    50:'Half-Remote',
    0:'On-Site'
})

In [ ]:
data.company_size.unique()

In [ ]:
data['company_size'] = data['company_size'].replace({
    'L':'Large',
    'S':'Small',
    'M':'Medium'
})

In [ ]:
#Job Category Value Counts in data

In [ ]:
df = data.job_category.value_counts().reset_index()

fig, ax = plt.subplots()

ax.pie(
    x=df['job_category'],
#     startangle=90,
    labels=df['index'],
    autopct="%.0f%%",
    shadow=True,
    explode=[0.08, 0, 0, 0, 0]
        );

plt.title('Job Category Value Counts in Data', fontsize=12);

In [ ]:
#salary_in_usd histogram

In [ ]:
sns.histplot(data['salary_in_usd']);

In [ ]:
#Experience Level Analysis

In [ ]:
# Experience Level in Data Value Counts
df = data.experience_level.value_counts().reset_index()

fig, ax = plt.subplots()

ax.pie(
    x=df['experience_level'],
     startangle=90,
    labels=df['index'],
    autopct="%.0f%%",
    shadow=True,
    explode=[0.08, 0, 0, 0]
        );

plt.title('Experience Level in Data Value Counts', fontsize=12);

In [ ]:
# Number of employment_type in each experience level

df = data.groupby(['experience_level'])['employment_type'].value_counts().unstack()
df

In [ ]:
for x in df.columns:
#     df[x].plot(kind='bar', rot=45)
    plt.figure(figsize=(16,4))
    sns.barplot(data=df.reset_index(), x=x, y='experience_level')
    plt.title(f'Number of {x} Worker in Each Experience Level', fontsize=12)
    plt.show()

In [ ]:
# Number of experience_level in each remote_ratio

In [ ]:
df = data.groupby('experience_level')['remote_ratio'].value_counts().unstack()

df

In [ ]:
df.plot(kind='barh', figsize=(14, 4))
plt.title('Number of Different Experience_level in Each Remote_Ratio');

In [ ]:
#Number of experience_level in each company_size

In [ ]:
df = data.groupby('experience_level')['company_size'].value_counts().unstack()

df

In [ ]:
df.plot(kind='barh', figsize=(14, 4))
plt.title('Number of Different Experience_level in Company Size');

In [ ]:
#Number of experience_level in each job_category

In [ ]:
df = data.groupby('experience_level')['job_category'].value_counts().unstack()

df

In [ ]:
df.plot(kind='barh', figsize=(16, 6))
plt.title('Number of Different Experience_level in Each Job Category');

In [ ]:
df = data.groupby('experience_level')['work_year'].value_counts().unstack()

df

In [ ]:
df.plot(kind='barh', figsize=(14, 4))
plt.title('Number of Different Experience_level that started at each different Year');

In [ ]:
# Here's a for loop to create visualizations that shows number of experience level 
# in ['remote_ratio', 'company_size', 'job_category', 'work_yaer']

for x in ['remote_ratio', 'company_size', 'job_category', 'work_year']:
    df = data.groupby('experience_level')[x].value_counts().unstack()
    df.plot(kind='barh', figsize=(16, 6))
    
    if x == 'work_year':
        plt.title('Number of Different Experience_level that started at each different Year')
    else:
        plt.title(f'Number of Different Experience_level in Each {x}');

In [ ]:
#Avg/min/max Salary of different experience_level

In [ ]:
df = data.groupby('experience_level')['salary_in_usd'].agg(
    avg_salary=('mean'),
    max_salary=('max'),
    min_salary=('min')
).sort_values('avg_salary', ascending=False)

df

In [ ]:
#Might be a biased data here 
data.loc[data['salary_in_usd'] == 30400000.0]

In [ ]:
data = data[data['salary_in_usd'] != 30400000.0]

In [ ]:
for x in df.columns:
    plt.figure(figsize=(16,4))
    sns.barplot(data=df.reset_index(), x=x, y='experience_level')
    plt.title(f'{x} for each Experience Level', fontsize=12)
    plt.show()

In [ ]:
# employment_type analysis

In [ ]:
df = data.employment_type.value_counts().reset_index()
fig, ax = plt.subplots()

ax.pie(
    x=df['employment_type'],
    startangle=90,
    labels=df['index'],
    autopct="%.0f%%",
#     shadow=True,
    explode=[0.08, 0, 0, 0]
        );

plt.legend(df['index'], loc='upper left')

plt.title('Employment_Type in Data Value Counts', fontsize=12);

In [ ]:
# Number employment_type in each different experience_level

In [ ]:
df = data.groupby('employment_type')['experience_level'].value_counts().unstack()
df

In [ ]:
for x in df.columns:
    plt.figure(figsize=(16, 4))
    sns.barplot(data=df.reset_index(), y='employment_type', x=x)
    plt.title(f'Number of {x} Worker in Each Employment Type', fontsize=12)
    plt.show()

In [ ]:
#Number of Different employment_type in Each ['remote_ratio', 'company_size', 'job_category', 'work_year']

In [ ]:
for x in ['remote_ratio', 'company_size', 'job_category', 'work_year']:
    print(data.groupby('employment_type')[x].value_counts())
    print('')
    print('-------------')

In [ ]:
for x in ['remote_ratio', 'company_size', 'job_category', 'work_year']:
    df = data.groupby('employment_type')[x].value_counts().unstack()
    df.plot(kind='barh', figsize=(16, 6))
    
    if x == 'work_year':
        plt.title('Number of employment_type that started at each different Year')
    else:
        plt.title(f'Number of Different employment_type in Each {x}');

In [ ]:
#Avg/min/max Salary of different experience_level

In [ ]:
df = data.groupby('employment_type')['salary_in_usd'].agg(
    avg_salary=('mean'),
    max_salary=('max'),
    min_salary=('min')
).sort_values('avg_salary', ascending=False)

df

In [ ]:
for x in df.columns:
    plt.figure(figsize=(16,4))
    sns.barplot(data=df.reset_index(), x=x, y='employment_type')
    plt.title(f'{x} for each employment_type', fontsize=12)
    plt.show()

In [ ]:
#Remote Ratio Analsis

In [ ]:
df = data.remote_ratio.value_counts().reset_index()
fig, ax = plt.subplots()

ax.pie(
    x=df['remote_ratio'],
    startangle=90,
    labels=df['index'],
    autopct="%.0f%%",
    shadow=True,
    explode=[0.05, 0.05, 0.05]
        );

plt.title('remote_ratio in Data Value Counts', fontsize=12);

In [ ]:
# Number of Different Remote ratio in Each ['company_size', 'job_category', ]

In [ ]:
for x in ['company_size', 'job_category']:
    print('')
    print(data.groupby('remote_ratio')[x].value_counts())
    print(' ')
    print('-------')

In [ ]:
for x in ['company_size', 'job_category']:
    df = data.groupby('remote_ratio')[x].value_counts().unstack()
    df.plot(kind='barh', figsize=(16, 6))
    
    plt.title(f'Number of each remote_ratio count in Each {x}');

In [ ]:
#Avg/min/max Salary of different remote ratio

In [ ]:
df = data.groupby('remote_ratio')['salary_in_usd'].agg(
    avg_salary=('mean'),
    max_salary=('max'),
    min_salary=('min')
).sort_values('avg_salary', ascending=False)

df

In [ ]:
for x in df.columns:
    plt.figure(figsize=(16,4))
    sns.barplot(data=df.reset_index(), x=x, y='remote_ratio')
    plt.title(f'{x} in USD for each remote_ratio', fontsize=12)
    plt.show()

In [ ]:
# Remote Ratio in each company_location
df = data.groupby('company_location')['remote_ratio'].value_counts().unstack()

df

In [ ]:
df.plot(kind='bar', figsize=(16, 4))
plt.title('Remote Ratio in each company_location');

In [ ]:
# Job Category

In [ ]:
df = data.job_category.value_counts().reset_index()
fig, ax = plt.subplots()

ax.pie(
    x=df['job_category'],
#     startangle=90,
    labels=df['index'],
    autopct="%.0f%%",
    shadow=True,
    explode=[0.08, 0, 0, 0, 0]
        );

plt.title('job_category in Data Value Counts', fontsize=12);

In [ ]:
#Under each job category, number of ['employment_type', 'experience_level', 'remote_ratio']

In [ ]:
for x in ['employment_type', 'experience_level', 'remote_ratio']:
    print('')
    print(data.groupby('job_category')[x].value_counts())
    print(' ')
    print('-------')

In [ ]:
for x in ['employment_type', 'experience_level', 'remote_ratio']:
    df = data.groupby('job_category')[x].value_counts().unstack()
    df.plot(kind='barh', figsize=(16, 6))
    
    plt.title(f'Number {x} under each Job Category');

In [ ]:
#Avg/min/max Salary of different job category

In [ ]:
df = data.groupby('job_category')['salary_in_usd'].agg(
    avg_salary=('mean'),
    max_salary=('max'),
    min_salary=('min')
).sort_values('avg_salary', ascending=False)

df

In [ ]:
for x in df.columns:
    plt.figure(figsize=(16,4))
    sns.barplot(data=df.reset_index().sort_values(x, ascending=False), x=x, y='job_category')
    plt.title(f'{x} in USD for each Job Category', fontsize=12)
    plt.show()

In [ ]:
# Job Category Value counts in each company_location

In [ ]:
data.groupby('company_location')['job_category'].value_counts().unstack()

In [ ]:
# Job Category Value counts in each differnt company size

In [ ]:
data.groupby('company_size')['job_category'].value_counts().unstack()

In [ ]:
#Company Location Analysis

In [ ]:
#Top 20 Locations where Company are Located
df = data.company_location.value_counts()[:20].reset_index()
plt.figure(figsize=(16, 6))
sns.barplot(data=df, y='index', x='company_location')
plt.title('Top 20 Locations where Company are Located')

In [ ]:
#Remote Ratio and company size ditribution in US
for x in ['remote_ratio', 'company_size']:
    df=data.groupby('company_location')[x].value_counts().sort_values(ascending=False).unstack()
    print(df.loc['US'])
    print('')

In [ ]:
df=data.groupby('company_location')['company_size'].value_counts().sort_values(ascending=False).unstack()

df.loc['US'].reset_index()

In [ ]:
for x in ['remote_ratio', 'company_size']:
    df=data.groupby('company_location')[x].value_counts().sort_values(ascending=False).unstack()
    dfm = df.loc['US'].reset_index()
    
    fig, ax = plt.subplots()

    ax.pie(
        x=dfm['US'],
        startangle=90,
        labels=dfm[x],
        autopct="%.0f%%",
#         shadow=True,
        explode=[0.05, 0.05, 0.05]
                    )
    plt.title(f'{x} Distribution in US', fontsize=12)

In [ ]:
#Number of job_category in each company size in each company location

In [ ]:
df = data.groupby(['company_location','company_size'])['job_category'].value_counts().unstack()

df

In [ ]:
dfm = df.loc['US'].reset_index()

dfm.reset_index(drop=True)

In [ ]:
#Number of job_category in each company size in US

for x in df.columns:
    sns.barplot(data = df.loc['US'].reset_index().sort_values(x,ascending=False),
                x='company_size',
                y=x)
    plt.title(f'number of {x} in each company size in US', fontsize=12)
    plt.show()

In [ ]:
# Salaries in usd within company location

In [ ]:
df = data.groupby('company_location')['salary_in_usd'].agg(
    avg_salary=('mean'),
    median_salry=('median'),
    min_salary=('min'),
    max_salary=('max')
)

df

In [ ]:
#Us company avg/mean/min/max salaries
dfm = df.loc['US'].sort_values(ascending=False).reset_index()
sns.barplot(data=dfm, x='index', y='US')
plt.title('US Company avg/mean/min/max salaries_in_usd', fontsize=12)

In [ ]:
#More detail on Salaries in usd with different job categories with different company location

In [ ]:
df=data.groupby(['company_location', 'job_category'])['salary_in_usd'].agg(
    avg_salary=('mean'),
    median_salry=('median'),
    min_salary=('min'),
    max_salary=('max')
)

df

In [ ]:
idx = pd.IndexSlice

In [ ]:
df = df.loc[idx['US', :], :]

df

In [ ]:
df.reset_index().drop('company_location', axis=1)ã€‚

In [ ]:
#Salaries in usd for job categories in US
for x in df.columns:
#     df.loc[idx[:, :], x].sort_values(ascending=False).plot(kind='bar',figsize=(8, 4), rot=45)
#     plt.title(f'{x} for Different Job Category in US', fontsize=12)
#     plt.show()
    plt.figure(figsize=(8, 4))
    sns.barplot(data=df.reset_index().drop('company_location', axis=1).sort_values(x, ascending=False),
               x='job_category',
               y=x)
    plt.title(f'{x} for Different Job Category in US', fontsize=12),
    plt.show()

In [ ]:
# avg/median/max/min salary of differnet experience level in US

In [ ]:
df = data.groupby(['company_location', 'experience_level'])['salary_in_usd'].agg(
    avg_salary=('mean'),
    median_salary=('median'),
    max_salary = ('max'),
    min_salary = ('min')
)

df

In [ ]:
dfm = df.loc['US'].sort_values('avg_salary', ascending=False)

dfm

In [ ]:
for x in dfm.columns:
    sns.barplot(
        data=dfm.reset_index().sort_values(x, ascending=False),
        x='experience_level',
        y=x
    )
    plt.title(f'{x} in each Experience Level in US', fontsize=12)
    plt.show()

In [ ]:
#Work Year Analysis: The year the salary was paid.

In [ ]:
df = data.work_year.value_counts().reset_index()

fig, ax = plt.subplots()

ax.pie(
    x=df['work_year'],
    startangle=90,
    labels=df['index'],
    autopct="%.0f%%",
    shadow=True,
    explode=[0.08, 0, 0, 0]
                    );

plt.title('Salary Paid Year Value Counts', fontsize=12)

#Majority of salary was paid in 2023 and 2022

In [ ]:
# Number of Salary Paid in year to each Job Category

In [ ]:
df = data.groupby(['job_category'])['work_year'].value_counts().unstack()

df

In [ ]:
for x in df.columns:
    sns.barplot(
        data=df.reset_index().sort_values(x, ascending=False), 
        x='job_category',
        y=x
    )
    plt.title(f'Number of Salary Paid in {x} to each Job Category', fontsize=12)
    plt.show()

In [ ]:
# Number of Salaries Paid to Differnt Job Category in Each Company Size

In [ ]:
df = data.groupby(['company_size', 'job_category'])['work_year'].value_counts().unstack()

df

In [ ]:
for x in df.index.get_level_values(0).unique():
    dfm=df.loc[idx[x, :], :]
    dfm.plot(kind='barh')
    plt.title('Number of Salaries Paid to Each Job Category in Each Company Size', fontsize=12)

In [ ]:
#Number of Salaries Paid to Differnt Job Category in US in each year

In [ ]:
df = data.groupby(['company_location', 'job_category'])['work_year'].value_counts().unstack()

df

In [ ]:
df = df.loc[idx['US', :], :]

for x in df.columns:
    sns.barplot(
        data=df.reset_index().drop('company_location', axis=1).sort_values(x, ascending=False), 
        y=x, 
        x='job_category')
    plt.title(f'Number of Salaries Paid to Differnt Job Category in US in {x}', fontsize=12)
    plt.show()

In [ ]:
df.reset_index().drop('company_location', axis=1)

In [ ]:
dfm = data.loc[:, ['salary_in_usd', 'experience_level', 'employment_type', 'company_size','job_category']]

dfm

In [ ]:
df = pd.concat([
    dfm.loc[:, ['salary_in_usd']],
    pd.get_dummies(dfm.loc[:, ['experience_level', 'employment_type', 'company_size','job_category']]),
], axis=1)

In [ ]:
df

In [ ]:
abs(df.corr()['salary_in_usd']).sort_values(ascending=False)

In [ ]:
sns.heatmap(df.corr())