In [ ]:
#call libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import os

In [ ]:
##Data file recall 
df = pd.read_csv("../input/companies-vs-universities-mis-graduates/Mis_Job_Name.csv")

In [ ]:
#look at the data
df.head()

In [ ]:
#rename a columns
df.rename({'Name of Company':'NameofCompany','Number of Employees':'NumberofEmployees'},axis=1, inplace= True)
df

In [ ]:
#look at the type data 
df.info()

In [ ]:
#View stats details
df.describe().round(2)

In [ ]:
#Number of rows and columns 
df.shape

In [ ]:
#Display empty values
df.isna().sum()

In [ ]:
#The total number of graduates Inside the case study 
df['NumberofEmployees'].sum()

In [ ]:
#Alumni collection & Sort by the largest
df1 = df.groupby('University').sum()[['NumberofEmployees']].sort_values(by=['NumberofEmployees'], inplace= False, ascending= False)
df1

In [ ]:
#Companies That Hire MIS Graduates & sort by the largest & display all the data
df2=df.groupby('NameofCompany').sum()[['NumberofEmployees']].sort_values(by=['NumberofEmployees'], inplace= False, ascending= False)
pd.set_option('display.max_rows', None)
df2

In [ ]:
#Division by university
df3=df.groupby(['University','NameofCompany']).sum()[['NumberofEmployees']]
df3