**About Dataset:**

It is population weighted worldwide data on male and female cohorts ages 15-69 years including cardiovascular disease early death and associated dietary, metabolic and other risk factors.


The purpose of creating this formatted database is to explore the univariate and multiple regression correlations of cardiovascular early deaths and other health outcomes with risk factors.

Find Dataset [here](https://www.kaggle.com/ishadss/kkkkkk)

Get tool to read/write excel dataset

In [ ]:
pip install openpyxl

In [ ]:
# Imports

import pandas as pd

In [ ]:
df = pd.read_excel('/kaggle/input/kkkkkk/wtedCVDRfsCov2017.xlsx')

Let's explore dataset

In [ ]:
df.head()

In [ ]:
# changing object datatype to category to save memory

df.location_name = df["location_name"].astype("category")
df.sex_name = df["sex_name"].astype("category")

In [ ]:
df[df['sex_name']== 'Male'].describe()

In [ ]:
df.describe().T

In [ ]:
df.columns.to_list

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
# Find columns with missing values
cols_with_missing = [col for col in df.columns
                     if df[col].isnull]
print(cols_with_missing)

In [ ]:
# Droping rows with NaN values if they are not of much use.

df.dropna(axis = 0, inplace = True)

In [ ]:
df.head()