In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

%matplotlib inline

# Reading data

In [ ]:
df=pd.read_csv("/kaggle/input/global-salary-data/salary_data.csv")
df.head()

# Exploring Data

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df['country_name'].unique()

In [ ]:
df['country_name'].nunique()

In [ ]:
df['continent_name'].unique()

In [ ]:
df['continent_name'].replace(['Northern America', 'Central America' , 'Caribbean'], 'North America', inplace=True)

In [ ]:
df['continent_name'].unique()

In [ ]:
df['wage_span'].unique()

In [ ]:
df.isna().sum()

In [ ]:
df.describe()

# Analysis & visualisation

In [ ]:
df['continent_name'].value_counts()

In [ ]:
fig = px.box(df, x='continent_name',y='median_salary',width=1100, height=800, title="Median salaries across different continents")

fig.show()

In [ ]:
fig = px.box(df, x='continent_name',y='average_salary',width=1100, height=800, title="Average salaries across different continents")

fig.show()

In [ ]:
fig = px.box(df, x='continent_name',y='lowest_salary',width=1100, height=800, title="Lowest salaries across different continents")

fig.show()

In [ ]:
fig = px.box(df, x='continent_name',y='highest_salary',width=1100, height=800, title="Highest salaries across different continents")

fig.show()

In [ ]:
fig = px.bar(df, x='country_name',y='median_salary',width=1100, height=800, title="Median salaries across different countrys")

fig.show()

In [ ]:
top20_highest_salary_country=df.sort_values(by='highest_salary', ascending = False).head(20)
fig = px.bar(top20_highest_salary_country, x='country_name',y='highest_salary',width=1100, height=800, title="Top 20 Countrys with Hightest salaries")

fig.show()

In [ ]:
top20_median_salary_country=df.sort_values(by='median_salary', ascending = False).head(20)
fig = px.bar(top20_median_salary_country, x='country_name',y='median_salary',width=1100, height=800, title="Top 20 Countrys With Median salaries")

fig.show()

In [ ]:
top20_avwerage_salary_country=df.sort_values(by='average_salary', ascending = False).head(20)
fig = px.bar(top20_avwerage_salary_country, x='country_name',y='average_salary',width=1100, height=800, title="Top 20 Countrys With Average salaries")

fig.show()

In [ ]:
data=df.groupby('continent_name')['median_salary'].mean().reset_index()
data=data.sort_values(by='median_salary',ascending=False)
fig=px.bar(data,x='continent_name',y='median_salary',title='The Madian Salary in Each Continent ')
fig.show()

In [ ]:
data=df.groupby('continent_name')['average_salary'].mean().reset_index()
data=data.sort_values(by='average_salary',ascending=False)
fig=px.bar(data,x='continent_name',y='average_salary',title='The Average Salary in Each Continent ')
fig.show()

In [ ]:
data=df.groupby('continent_name')['highest_salary'].mean().reset_index()
data=data.sort_values(by='highest_salary',ascending=False)
fig=px.bar(data,x='continent_name',y='highest_salary',title='The Highest Salary in Each Continent ')
fig.show()

In [ ]:
# contres in europe and averag salary
country= df[df['continent_name']=='Europe']
fig = px.bar(country, x='country_name',y='average_salary',width=1100, height=800, title="Average salaries across Europe")

fig.show()

In [ ]:
# contres in Nouth Amrica and averag salary
country= df[df['continent_name']=='North America']
fig = px.bar(country, x='country_name',y='average_salary',width=1100, height=800, title="Average salaries across North America")

fig.show()